<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ea voluptate adipisci saepe quis magni aliquam mollitia nobis quo 
        doloremque dolorum maxime recusandae, laudantium accusamus tempora deserunt. 
        Praesentium porro voluptates ipsa temporibus magnam! Vel id saepe tenetur, 
        sapiente dolor perspiciatis inventore facilis dolorum provident obcaecati aut illum odit voluptas 
        quaerat omnis aliquam neque harum explicabo facere consectetur commodi. Magnam incidunt sit culpa 
        beatae explicabo dignissimos corrupti totam iusto ex itaque quia minus molestiae minima veritatis dolore 
        consectetur, quisquam, dolor expedita! Praesentium eius nisi vero eaque quis, tenetur maxime consequuntur incidunt iusto fugit perspiciatis 
        alias aperiam dolores sunt accusamus blanditiis at nostrum. Numquam ipsum rerum ea quos totam laboriosam quas, porro laudantium, inventore aliquam
        et tenetur omnis expedita ab nesciunt repudiandae amet dolorem, esse dolore provident sed deserunt eius. Obcaecati vel facere error similique! Nam officiis, 
        expedita ipsam odio incidunt adipisci quia, fugit dicta eum voluptatibus rerum esse hic voluptas quos consectetur? Expedita quaerat, minima dolore rerum doloribus
         recusandae dolorum voluptatibus libero amet hic, velit voluptas quae dicta reprehenderit repellat ad! Soluta, pariatur. Maiores id autem magnam, ipsam provident nam commodi, 
         facilis esse quam ducimus officia optio quis quaerat quia blanditiis ab similique. Nisi, ex. Libero, odio quia ea assumenda a magni!
        
    </p>
    <div>
        <img src="./../../img/opportunity-7065790.png" alt="name">
    </div>
</body>
</html>